/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  color: white;
  background-color: black;
  font-family: sans-serif;
}

h1 {
  display: flex;
  color: white;
  font-weight: lighter;
  font-family: sans-serif;
  justify-content: center;
  font-size: 40px;
  background-color: #4CAF50;
}

.new-form #p {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.errors {
  color: red;
  font-size: 10px;
  display: flex;
}
.new-submit {
  font-weight: bolder;
  font-size: 10px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.spotify {
  background-color: black;
  color: #4CAF50;
  font-weight: lighter;
}
.logout {
  font-size: 10px;
  display: flex;
  justify-content: space-between;
}
